# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore all music files
public/music/*.mp3
public/music/*.wav
public/music/*.ogg

# Or ignore EVERYTHING in /music
public/music/

# Bonus: Ignore all large files
*.mp3
*.wav
*.zip
*.exe